* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

.header {
    background-color: aquamarine;
    width: 100%;
    height: 6rem;
    font-size: 2rem;
    display: flex;
}
.header-logo {
    background-color: blanchedalmond;
    display: inline-block;
    width: 10rem;
}

.header-menu {
    display: inline-block;
    text-align: right;
    
    width: 100vw;
}

.header-menu li{
    display: inline-block;
    background-color: blueviolet;
    padding: 0 1rem;
    margin: 0 1rem;
}

.aside {
    width: 25rem;
    height: 56rem;
    background-color: brown;
    display:inline-block;
}

.aside div {
    width: 80%;
    height: 12rem;
    margin: auto;
    margin-top: 1.6rem;
    background-color: rgb(8, 100, 100);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.main {
    display: flex;
}

.main-section {
    background-color: blue;
    width: 100%;
    height: 56rem;
    display: inline-block;
}


.footer {
    background-color: rgb(158, 3, 150);
    width: 100%;
    height: 8rem;
    display: block;
}