.corona {
    margin: 80px;
    border-top: 160px solid yellow;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    position: relative;
    width: 220px;
}
.picos{
    width: 90px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    background-color: white;
    color: white;
    top: -240px;
    left: -25px;
    box-shadow: 90px 0, 180px 0;
}
.base {
    position: absolute;
    height: 15px;
    width: 100%;
    bottom: -25px;
    background-color: yellow;
}
.circulos{
    position: absolute;
    top: -150px;
    left: -30px;
    background-color: yellow;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 85px -17px, 175px -17px, 260px 0px;
    color: yellow;
}